[user]
	name = Brian Hogan
	email = brianhogan@napcs.com
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
[alias]
  fit = !git reset --hard HEAD && git clean -f -d
  cb = !git checkout -b
